<!--body {
	background:url(images/heh.jpg) no-repeat center center fixed;	
	-webkit-background-size: cover; /*Used by Safari & Chrome*/
	-moz-background-size: cover; /* Used by Firefox */
	-o-background-size: cover; /* Used by Opera */
	background-size: cover; /* All Modern Browsers */	
} -->

#video-background {
position: absolute;
bottom: 0px;
right: 0px;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1000;
overflow: hidden
}
h1 {
font-family: 'VT323';
font-weight: 400;
font-size: 100px;
color: #ffffff; 
}
